
body{
  background-color: #8D99AE !important;
  font-family: montrest;
  font-family: 'Montserrat', sans-serif;
  height: 170em;
}
header{
  z-index: 2;
  position: sticky;
  top:0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #8D99AE;
  color: #EDF2F4;
  padding: 50px;
}
h1 span{
  color: #2B2D42;
}
.contact{
  font-size: 24px;
  padding: 28px 0 5px 0;
}
a{
  color: #2B2D42 !important;
  text-decoration: none !important;
  padding: 6px ;
}
section{
  z-index: 1;
  background-color: #EDF2F4;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 80px;
  padding-left: 250px;
  padding-bottom: 20px;
}
.lang{
  padding-bottom: 50px;
}
img{
  width: 120px;
  
}
.rounded-circle{
  padding-top: 20px;
  padding-bottom: 20px;
}
.lang span{
  font-size: 15px;
  margin-top: 1em;
  margin-left: 0.4em;
  padding: 0.6em;
}
.badge{
  background-color: #8D99AE !important;
}
.cool{
  background-color: #D80032 !important;
}
h2{
  border-bottom: 2px solid;
  width: 90%;
}
h5{
  padding-top: 1.8em;
}
section p{
  font-weight: 600;
  margin: 0 !important;
  padding: 0 !important;
}
h6{
  font-size: 24px !important;
}
.padd{
  padding-top: 2.5em;
}
.mb-0{
  font-size: 16px;
}
a{
  font-weight: 900;
  padding: 0 !important;
}
li{
  font-weight: 500;
}
.closeout{
  z-index: 0;
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  background-color: #8D99AE;
  height: 200px;
}
.txtend{
  font-size: 12px !important;
  color: #EDF2F4;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin: 20px;
  left: 10em;
}

/* responsive designe */
@media screen and (max-width: 600px){
  header, section{
    width:100%;
  }
  section{
    padding-left: 35px;
    padding-right: 20px;
  }
  body{
    height: 185em;
  }
  p{
    font-size: 14px !important;
  }
  .lang span{
    font-size: 13px;
    margin-top: 1em;
    margin-left: 0.4em;
    padding: 0.4em;
  }
}
@media screen and (max-height: 1400px){
  header, section{
    width:100%;
  }
  body{
    height: 192em;
  }
}
@media screen and (max-width: 1000px){
  header, section{
    width:100%;
  }
  section{
    padding-left: 35px;
    padding-right: 20px;
  }
  body{
    height: 192em;
  }
}

@media screen and (max-height: 750px){
  h1{
    font-size: 1rem !important;
  }
  h4{
    font-size: 1rem !important;
  }
  .rounded-circle{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  img{
    width: 75px;
  }
 header{
   padding-top: 20px;
   padding-bottom: 10px;
 }
 
}